.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul{
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.navLink{
  float: right;
  margin-left: 60em;
}

.graph{
  margin: 3em 0 3em 0;
}

.buyButton{
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
  background-color: #EBA9AF;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  padding: 5px 30px 5px 30px;
  border: 0px;
  border-radius: 40px;
  color: #534595;
}

.sellButton{
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  padding: 5px 30px 5px 30px;
  border: 0px;
  border-radius: 40px;
  background-color: #FADE90;
  color: #534595;
}

.stockSummary{
  background-color:#FDF8F9;
  border-radius: 40px;
  margin: 0.5em;
}

.buySummary{
  background-color:#FDF8F9;
  border-radius: 40px;
  margin: 0.5em;
}

.sellSummary{
  background-color:#FDF8F9;
  border-radius: 40px;
  margin: 0.5em;
}

.celebrating{
  width: 100%;
  justify-content: center;
}

h1{
  color: #534695 !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;
  padding-top:10px;
}

h2{
  text-align: left;
  padding: 0.5em !important;
  color: #534695 !important;
  font-weight: 600 !important;
  font-family: "Gill Sans", "Gill Sans MT" !important;
}

h3{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;
  color: #534695 !important;
  font-weight: bold !important;
  padding-bottom: 10px !important;
}

.img{
  margin-bottom: 1em;
  margin-top: 1em;
}

p, ul, li{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 16px;
}

.update{
  text-align: center;
  font-style: italic;
  color: #534595;
  margin-bottom: 35px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.ticker{
  text-align: center;
  font-size: 20px;
  color: #534595;
}

.total{
  margin: 3em 1em 3em 1em;
  color: #534595;
  padding-top: 3em;
  border-radius: 50px;
  background-color: #EBA9AF;
}

.profit{
  margin: 3em 1em 3em 1em;
  color: #534595;
  padding-top: 3em;
  border-radius: 50px;
  background-color: #F8F7FB;
}

.rate{
  color: #534595;
  margin: 3em 1em 3em 1em;
  padding-top: 3em;
  border-radius: 50px;
  background-color: #FADE90;
}

.App-link {
  color: #61dafb;
}

.footer{
  margin: 4em 0 3em 0;
  color: #534595;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}